html{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(87,8,153);
    background: linear-gradient(45deg, rgba(87,8,153,1) 0%, rgba(0,0,139,1) 50%, rgba(8,84,153,1) 100%);
    color: white;
}
div{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    font-size: 10em;
    margin: 0;
}
h2{
    font-size: 7em;
    margin: 0;
}
