body{
    font-family: Arial, Helvetica, sans-serif;
}
#contextmenu{
    display: none;
    position: absolute;
}
.contextauto{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.contextauto > li{
    background-color: #00008b;
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
}
#contextsubmenuitem{
    display: none;
}
.contextauto > li.contextsubmenu::after{
    content: '  >';
}
.contextauto > li:hover{
    background-color: white;
    color: #00008b;
}
.contextauto .contextsubmenu:hover + #contextsubmenuitem{
    display: block;
}