body{
	background-color: #FFCC66;
}
#bottom{
	position: absolute;
	bottom: 6em;
}
#start-btn{
	background-color: #E8A551;
	border: 3px solid;
	border-radius: 5px;
	font-size: 50px;
	padding: 1px 50px 1px 50px;
	outline: none;
}
#start-btn:hover{
	background-color: #FF9E59;
	outline: none;
	
}